* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.cls-1 {
    fill: #e42320;
}

.cls-2 {
    fill: #e42320;
}

#body {
    display: flex;
}

#top {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#bottom {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#total {
    height:25vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#monat {
    height: 50vh;
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
   

#leaderboard {
    height: 50vh;
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#altjusos {
    height: 50vh;
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4vw;
    color: #E42320;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-align: center;
}

p {
    font-size: 1.5vw;
    text-align: center;
}

.red {
    color: #E42320;
}


#graph1 {
    width: 60vw;
}

#graph2 {
    height: 40vh;
}


#textmonat{
    height: 40vh;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#gesammeltmonatext{
    /*margin-bottom: 30px;*/    
}


@media only screen and (max-width: 1200px) {

    #top {
        height: fit-content;
    }

    #bottom {
        height: fit-content;
        flex-direction: column;

    }

    #monat {
        height: 40vh;
        width: 100vw;

    }

    #leaderboard {
        height: 40vh;
        width: 100vw;
    }

    #altjusos {
        height: 40vh;
        width: 100vw;
    }

    p {
        font-size: 2vw;
        }
}