* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

#body {
    display: flex;
}

#top {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#bottom {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title {
    height: 25vh;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#total {
    height: 25vh;
    width: 100vw;
    background-color: coral;
}

#monat {
    height: 50vh;
    width: 33vw;
    background-color: chartreuse;
}

#leaderboard {
    height: 50vh;
    width: 33vw;
    background-color: darkorange;
}

#altjusos {
    height: 50vh;
    width: 33vw;
    background-color: darkviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    size: 4vw;
    color: #E42320;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
    text-align: center;
}

p {
    size: 2vw;
    color: #000000;
    text-align: center;
}

@media only screen and (max-width: 1200px) {

    #top {
        height: fit-content;
    }

    #bottom {
        height: fit-content;
        flex-direction: column;

    }

    #monat {
        height: 40vh;
        width: 100vw;

    }

    #leaderboard {
        height: 40vh;
        width: 100vw;
    }

    #altjusos {
        height: 40vh;
        width: 100vw;
    }
}